
/* Configuração default é a do celular: width <= 480px. */

/* Fonte para toda a página: */
@font-face {
	font-family:LeagueGothic;
	src:url("../fonts/LeagueGothic/LeagueGothic-Regular.otf") format("opentype");
}


body {
	color:#5B001A;
	font-family:LeagueGothic;
}

.jumbotron {
	background-color:#FFEFDB;
	border-radius:0px !important;
}

/* Centraliza todos os conteúdos das divs: */
#header-bigScreen, .col-sm-4, .col-sm-6 {
	text-align:center;
	display:flex;
	justify-content:center;
	align-items:center;
}

/* Título do header (nome da empresa): */
#header-bigScreen h1 {
	color:#A90F3A;
	font-weight:bold;
	float:left;
	line-height:42px;
	font-size:700%;
}

/* Imagem das moedas no header:*/
#header-bigScreen img {
	float:left;
	margin-right:10px;
	display:none;
}

/* Estilo diferente para a palavra 'Investimentos':*/
#header-investimentos {
	font-size:50%;
}


/* Div que contém os dois rows iniciais: */
#parte-inicial {
	background-image:url("../img/circulo.png");
	margin-top:-30px;
	padding-top:30px;
}

/* Estilos para as imagens circulares que estão arranjadas em colunas: */
figure img {
	border:solid;
}

figcaption {
	font-size:200%;
	text-align:center;
}

#texto-inicial span {
	font-size:600%;
	line-height:90px;	
}

#texto-inicial {
	padding-top:50px;
	padding-bottom:35px;
}



/* Configuração do tablet: width de 481 px a 768 px. Herda estilos do celular. */
@media only screen and (min-width: 481px) {
	/* Ajusta os elementos do header: */
	#header-bigScreen h1 {
		font-size:500%;
		line-height:30px;
	}
	
	#header-bigScreen img {
		display:block;
	}
	
}


/* Layout para desktops: 769 px ou mais. Herda estilos de celulares e tablets. */
@media only screen and (min-width: 769px) {
	
	
	
}
