
/* Configuração default é a do celular: width <= 480px. */

/* Fonte para toda a página: */
@font-face {
	font-family:LeagueGothic;
	src:url("../fonts/LeagueGothic/LeagueGothic-Regular.otf") format("opentype");
}

* {
	max-width:100%;
}

body {
	color:#5B001A;
	font-family:LeagueGothic;
	max-width:1080px;
	margin:auto;
}

.jumbotron {
	background-color:#FFEFDB;
	border-radius:0px !important;
}

/* Centraliza todos os conteúdos das divs: */
#header-screen, .col-sm-4, .col-sm-6, .col-sm-3, .col-sm-12 {
	text-align:center;
	display:flex;
	justify-content:center;
	align-items:center;
}

/* Título do header (nome da empresa): */
#header-screen h1 {
	color:#A90F3A;
	font-weight:bold;
	float:left;
	line-height:42px;
	font-size:700%;
}

/* Imagem das moedas no header:*/
#header-screen img {
	float:left;
	margin-right:10px;
	display:none;
}

/* Estilo diferente para a palavra 'Investimentos':*/
#header-investimentos {
	font-size:50%;
}


/* Div que contém os dois rows iniciais: */
#parte-inicial {
	background-image:url("../img/circulo.png");
	margin-top:-30px;
	padding-top:30px;
}

/* Estilos para as imagens circulares que estão arranjadas em colunas: */
figure img {
	border:solid;
}

/* Algumas linhas devem aparecer no celular no lugar de outras: */
.bigScreen {
	display:none;
}

.row {
	margin:0px;
}
.row.smallScreen {
	justify-content:center;
	align-items:center;
	display:flex;

}

.col-sm-6.smallScreen {
	width:250px;
	float:left;
	padding:20px;
}

figcaption {
	font-size:200%;
	text-align:center;
}

.texto-inicial span {
	font-size:600%;
	line-height:90px;
}

.texto-inicial {
	padding:35px;
	padding-top:50px;
	
}

/* Demais parágrafos da página: */
.texto-pagina {
	font-size:300%;
	padding:25px;
	line-height:70px;
}

table {
	font-size:150%;
}


.table th {
	letter-spacing:1px;
	text-align:center;
	
}


td {
    text-align:left;
    padding-left:25px !important;
}

.form-inline {
	border:solid grey 1px;
	padding-top:10px;
	padding-bottom:10px;
	background-color:rgba(255,255,255,0.3);
	max-width:400px;
	margin:0px auto;
	
	text-align:center;
	display:flex;
	justify-content:center;
	align-items:center;
	
}

.input-group {
	width:170px;
}

.input-group:nth-child(2) {
	margin-top:22px;
}

.input-group-addon, #corretora, .form-control {
	font-size:150%;
}

.form-control {
	padding:0px;
	padding-left:6px;
}



/* Coloca um display especial nos labels do formulário: */
label {
	display:table-caption !important;
	font-size:170%;
	letter-spacing:1px;
}


/* Texto do footer: */
.texto-disclaimer {
	letter-spacing:1px;
}

/* Spans em destaque no texto: */
.destaque {
	padding-left:5px;
	padding-right:5px;
	font-size:150%;
	color:#A90F3A;
	
}

/* Span que contém os asteriscos: */
.asterisco {
	vertical-align:-webkit-baseline-middle;
	padding-left:3px;
	padding-right:3px;
}

.panel-footer {
	font-size:150%;
	text-align:center;
}

.panel-footer p {
	margin:0px;
	padding:5px;
}


/* Configuração do tablet: width de481 px a 849px. Herda estilos do celular. */
@media only screen and (min-width: 481px) {
	/* Ajusta os elementos do header: */
	#header-screen h1 {
		font-size:500%;
		line-height:30px;
	}
	
	#header-screen img {
		display:block;
	}
	
	
	
	
}


@media only screen and (min-width: 768px) {
	.input-group:first-child {
		margin-right:10px;
		
	}

	.input-group:nth-child(2) {
		margin-top:0px;
	}
	
	#ultima-formulario {
		margin-top:15px;
	}
	
	
}

/* Layout para desktops: 850px ou mais. Herda estilos de celulares e tablets. */
@media only screen and (min-width: 850px) {
	.bigScreen {
		display:block;
	}
	
	.row.smallScreen {
		display:none;
	}
	
	/* O container será a tela inteira: */
	.container {
		width:auto;
	}
	
	
}
